My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "04ead61f-c425-4c40-a03b-960828fa203d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "13_hc6f-iSNnd4_cYhMPO0vN1htHIklev"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "93743d9f-f721-4b1f-bcaf-da72379e74b2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Pc7DCdZsK2rmluZN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "b325fe3d-4f7f-4697-a065-6250a08ec137",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items from the previous node (Extract from File)\nconst inputItems = items;\n\n// ─── 1. EXTRACT RAW ROWS ───────────────────────────────────────────────────\nconst rawData = inputItems.map(item => item.json);\n\n// ─── 2. DATA CLEANING ─────────────────────────────────────────────────────\nconst cleanedData = rawData.filter(row => {\n  return (\n    row[\"Order ID\"] &&\n    row[\"Sales\"] !== undefined && row[\"Sales\"] !== null && row[\"Sales\"] !== \"\" &&\n    row[\"Profit\"] !== undefined && row[\"Profit\"] !== null && row[\"Profit\"] !== \"\" &&\n    row[\"Region\"] &&\n    row[\"Category\"]\n  );\n}).map(row => ({\n  orderID:      row[\"Order ID\"],\n  orderDate:    row[\"Order Date\"],\n  region:       row[\"Region\"],\n  category:     row[\"Category\"],\n  subCategory:  row[\"Sub-Category\"],\n  sales:        parseFloat(row[\"Sales\"]) || 0,\n  profit:       parseFloat(row[\"Profit\"]) || 0,\n  quantity:     parseInt(row[\"Quantity\"]) || 0,\n  discount:     parseFloat(row[\"Discount\"]) || 0,\n  segment:      row[\"Segment\"],\n  state:        row[\"State\"],\n}));\n\n// ─── 3. METRICS (EDA) ─────────────────────────────────────────────────────\nconst totalRows    = cleanedData.length;\nconst totalSales   = cleanedData.reduce((sum, r) => sum + r.sales, 0);\nconst totalProfit  = cleanedData.reduce((sum, r) => sum + r.profit, 0);\nconst profitMargin = totalSales > 0 ? ((totalProfit / totalSales) * 100).toFixed(2) : 0;\nconst avgSales     = totalRows > 0 ? (totalSales / totalRows).toFixed(2) : 0;\nconst avgDiscount  = totalRows > 0 ? (cleanedData.reduce((sum, r) => sum + r.discount, 0) / totalRows * 100).toFixed(2) : 0;\n\n// Sales by Region\nconst salesByRegion = {};\ncleanedData.forEach(r => {\n  salesByRegion[r.region] = (salesByRegion[r.region] || 0) + r.sales;\n});\n\n// Sales by Category\nconst salesByCategory = {};\ncleanedData.forEach(r => {\n  salesByCategory[r.category] = (salesByCategory[r.category] || 0) + r.sales;\n});\n\n// Sales by Order Date (monthly trend)\nconst salesByMonth = {};\ncleanedData.forEach(r => {\n  if (r.orderDate) {\n    const parts = r.orderDate.split(\"/\");\n    if (parts.length >= 3) {\n      const monthKey = `${parts[2]}-${parts[0].padStart(2,\"0\")}`;\n      salesByMonth[monthKey] = (salesByMonth[monthKey] || 0) + r.sales;\n    }\n  }\n});\nconst sortedMonths = Object.keys(salesByMonth).sort();\nconst trendLabels  = sortedMonths;\nconst trendValues  = sortedMonths.map(m => parseFloat(salesByMonth[m].toFixed(2)));\n\n// ─── 4. QUICK CHARTS (chart URLs via quickchart.io) ───────────────────────\n\n// Chart 1: Sales by Region (Bar chart)\nconst regionLabels = Object.keys(salesByRegion);\nconst regionValues = regionLabels.map(k => parseFloat(salesByRegion[k].toFixed(2)));\nconst regionChartConfig = {\n  type: \"bar\",\n  data: {\n    labels: regionLabels,\n    datasets: [{\n      label: \"Sales by Region\",\n      data: regionValues,\n      backgroundColor: [\"#4e79a7\",\"#f28e2b\",\"#e15759\",\"#76b7b2\"]\n    }]\n  },\n  options: { plugins: { legend: { display: true } } }\n};\nconst regionChartURL = `https://quickchart.io/chart?c=${encodeURIComponent(JSON.stringify(regionChartConfig))}&width=600&height=400`;\n\n// Chart 2: Sales by Category (Pie chart)\nconst categoryLabels = Object.keys(salesByCategory);\nconst categoryValues = categoryLabels.map(k => parseFloat(salesByCategory[k].toFixed(2)));\nconst categoryChartConfig = {\n  type: \"pie\",\n  data: {\n    labels: categoryLabels,\n    datasets: [{\n      data: categoryValues,\n      backgroundColor: [\"#4e79a7\",\"#f28e2b\",\"#e15759\"]\n    }]\n  },\n  options: { plugins: { legend: { display: true } } }\n};\nconst categoryChartURL = `https://quickchart.io/chart?c=${encodeURIComponent(JSON.stringify(categoryChartConfig))}&width=600&height=400`;\n\n// Chart 3: Sales Trend by Month (Line chart)\nconst trendChartConfig = {\n  type: \"line\",\n  data: {\n    labels: trendLabels,\n    datasets: [{\n      label: \"Monthly Sales Trend\",\n      data: trendValues,\n      borderColor: \"#4e79a7\",\n      backgroundColor: \"rgba(78,121,167,0.2)\",\n      fill: true\n    }]\n  },\n  options: { plugins: { legend: { display: true } } }\n};\nconst trendChartURL = `https://quickchart.io/chart?c=${encodeURIComponent(JSON.stringify(trendChartConfig))}&width=600&height=400`;\n\n// ─── 5. HTML REPORT ───────────────────────────────────────────────────────\nconst reportHTML = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\"/>\n  <title>Data Analyst Report</title>\n  <style>\n    body { font-family: Arial, sans-serif; margin: 40px; background: #f9f9f9; color: #333; }\n    h1   { color: #4e79a7; }\n    h2   { color: #e15759; border-bottom: 2px solid #eee; padding-bottom: 6px; }\n    .metric-box { display:inline-block; background:#fff; border:1px solid #ddd;\n                  border-radius:8px; padding:16px 24px; margin:8px;\n                  box-shadow:1px 2px 6px rgba(0,0,0,0.06); text-align:center; }\n    .metric-box h3 { margin:0 0 8px; font-size:13px; color:#888; }\n    .metric-box p  { margin:0; font-size:22px; font-weight:bold; color:#4e79a7; }\n    img { max-width:100%; border:1px solid #ddd; border-radius:8px; margin:12px 0; }\n    ul  { line-height:1.8; }\n  </style>\n</head>\n<body>\n  <h1>📊 Data Analyst Report — Executive Summary</h1>\n\n  <h2>Key Metrics</h2>\n  <div class=\"metric-box\"><h3>Total Rows</h3><p>${totalRows}</p></div>\n  <div class=\"metric-box\"><h3>Total Sales</h3><p>$${totalSales.toFixed(2)}</p></div>\n  <div class=\"metric-box\"><h3>Total Profit</h3><p>$${totalProfit.toFixed(2)}</p></div>\n  <div class=\"metric-box\"><h3>Profit Margin</h3><p>${profitMargin}%</p></div>\n  <div class=\"metric-box\"><h3>Avg Sales / Order</h3><p>$${avgSales}</p></div>\n  <div class=\"metric-box\"><h3>Avg Discount</h3><p>${avgDiscount}%</p></div>\n\n  <h2>Sales by Region</h2>\n  <img src=\"${regionChartURL}\" alt=\"Sales by Region Chart\"/>\n\n  <h2>Sales by Category</h2>\n  <img src=\"${categoryChartURL}\" alt=\"Sales by Category Chart\"/>\n\n  <h2>Monthly Sales Trend</h2>\n  <img src=\"${trendChartURL}\" alt=\"Monthly Sales Trend Chart\"/>\n\n  <h2>Recommendations</h2>\n  <ul>\n    <li>Focus on top regions for revenue growth.</li>\n    <li>Improve pricing or cost control to increase profit margin.</li>\n    <li>Collect more time-series data for better trend analysis.</li>\n    <li>Review high-discount orders that may be reducing profitability.</li>\n  </ul>\n</body>\n</html>`;\n\n// ─── 6. EMAIL BODY ────────────────────────────────────────────────────────\nconst emailBody = `Hi,\n\nHope you are doing well. Please find the automated AI Data Analyst Report generated from your uploaded dataset.\n\nThis report includes a quick summary of key metrics, visual insights, and actionable recommendations delivered straight from your data.\n\nKey Highlights:\n- Total Records Analyzed : ${totalRows}\n- Total Sales            : $${totalSales.toFixed(2)}\n- Total Profit           : $${totalProfit.toFixed(2)}\n- Profit Margin          : ${profitMargin}%\n\nThe detailed HTML report and supporting charts are attached for deeper analysis.\nPlease check the file named report.html.\n\nBest regards,\nAI Data Analyst Agent`;\n\n// ─── 7. RETURN OUTPUT ─────────────────────────────────────────────────────\nreturn [\n  {\n    json: {\n      charts: {\n        salesByRegion:   regionChartURL,\n        salesByCategory: categoryChartURL,\n        salesByTrend:    trendChartURL,\n      },\n      reportHTML: reportHTML,\n      emailBody:  emailBody,\n      metrics: {\n        totalRows,\n        totalSales:   parseFloat(totalSales.toFixed(2)),\n        totalProfit:  parseFloat(totalProfit.toFixed(2)),\n        profitMargin: parseFloat(profitMargin),\n        avgSales:     parseFloat(avgSales),\n        avgDiscount:  parseFloat(avgDiscount),\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "e1904d14-bdb9-4354-9a81-b39d25bc6b2c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{ $json.charts.salesByRegion }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "regionChart"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "32551e5e-d86c-4445-a3c0-64496cfc2b15",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.charts.salesByCategory }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "categoryChart"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        0
      ],
      "id": "d8306bbe-2ab4-4b60-b147-0921d7f16807",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "=GET",
        "url": "={{ $json.charts.salesByTrend }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "trendChart"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        0
      ],
      "id": "d8753aae-eb8c-425f-b91a-afef6748404b",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "reportHTML",
        "binaryPropertyName": "report",
        "options": {
          "fileName": "report.html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1440,
        -176
      ],
      "id": "6930cb46-a2f8-4947-8a71-30cc9f5aa5c8",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1664,
        0
      ],
      "id": "64294771-c78f-4e75-af9e-62fd04990515",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "davidalexanderdavid88@gmail.com",
        "subject": "=Data Analyst Report - {{$now}}",
        "message": "={{ $json.emailBody }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "report,regionChart,categoryChart,trendChart"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1872,
        0
      ],
      "id": "c102a9bf-ebac-4e47-b9f6-69129b8ee1e2",
      "name": "Send a message",
      "webhookId": "b5fca4d2-174f-4ef4-88db-9d61c7fddb56",
      "credentials": {
        "gmailOAuth2": {
          "id": "3tN3CjEIq9naFkiI",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "297ee1c7-7203-4f44-a693-693725d258ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33e6daaa8edc15ef6e4b5fb47fac4289a3c470583b20baac35c006b06a17c52d"
  },
  "id": "s11AeFYN8eWRsQIJ",
  "tags": []
}